/* ---------------- RESET ---------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Montserrat',sans-serif;

    background:#fbf7f2;

    color:#333;

    overflow-x:hidden;

}


/* ---------- HERO ---------- */
.hero{

position:relative;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

overflow:hidden;

background:url("https://images.unsplash.com/photo-1519741497674-611481863552?q=80&w=2200&auto=format&fit=crop");

background-size:cover;

background-position:center;

animation:zoomHero 18s linear infinite alternate;

}

.hero-overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.42);

backdrop-filter:blur(2px);

}

.hero-content{

position:relative;

z-index:10;

color:white;

animation:fadeHero 2s;

}

.hero h1{

font-size:88px;

font-family:'Cormorant Garamond',serif;

line-height:1.1;

}

.hero span{

display:block;

font-size:40px;

color:#d8b15d;

margin:18px 0;

}

.subtitle{

letter-spacing:8px;

text-transform:uppercase;

color:#d8b15d;

margin-bottom:30px;

}

.hero-date{

margin-top:25px;

font-size:24px;

line-height:1.8;

}

.hero-btn{

display:inline-block;

margin-top:40px;

padding:18px 46px;

border-radius:50px;

background:#caa24f;

color:white;

text-decoration:none;

transition:.4s;

font-weight:bold;

}

.hero-btn:hover{

transform:translateY(-5px);

box-shadow:0 20px 40px rgba(0,0,0,.25);

}

.scroll-down{

margin-top:60px;

font-size:40px;

animation:arrow 2s infinite;

color:#fff;

}

.gold-line{

width:120px;

height:2px;

background:#d8b15d;

margin:0 auto 40px;

}

/* ---------- SECTIONS ---------- */

.section{

max-width:900px;

margin:auto;

padding:90px 25px;

text-align:center;

}

.section h2{

font-family:'Cormorant Garamond';

font-size:48px;

margin-bottom:30px;

color:#8c6d3b;

}

.section p{

line-height:2;

font-size:18px;

margin-bottom:30px;

}

hr{

width:120px;

margin:45px auto;

border:none;

height:2px;

background:#d6b46d;

}


/* ---------- INFO ---------- */

.info{

padding:120px 30px;

background:#faf6ef;

}


.info-title{

text-align:center;

margin-bottom:70px;

}


.info-title h2{

font-size:52px;

font-family:'Cormorant Garamond';

color:#a37c2d;

}


.info-title p{

letter-spacing:5px;

margin-top:15px;

color:#888;

}


.info-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:35px;

max-width:1200px;

margin:auto;

}


.glass{

background:rgba(255,255,255,.7);

backdrop-filter:blur(18px);

border-radius:30px;

padding:55px;

text-align:center;

transition:.45s;

box-shadow:

0 15px 40px rgba(0,0,0,.08);

}


.glass:hover{

transform:translateY(-12px);

box-shadow:

0 30px 60px rgba(183,140,53,.25);

}


.icon{

font-size:56px;

margin-bottom:25px;

}


.glass h3{

font-size:28px;

margin-bottom:15px;

font-family:'Cormorant Garamond';

}


.glass p{

font-size:20px;

line-height:1.8;

}

/* ---------- TIMER ---------- */

.countdown{

padding:100px 20px;

text-align:center;

background:#f5efe5;

}

.countdown h2{

font-family:'Cormorant Garamond';

font-size:50px;

margin-bottom:40px;

}

#timer{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

font-size:34px;

font-weight:bold;

}


/* ---------- DRESS ---------- */

.dress{

padding:90px 20px;

text-align:center;

}

.dress h2{

font-family:'Cormorant Garamond';

font-size:50px;

margin-bottom:25px;

color:#9d7a3f;

}

.dress p{

font-size:22px;

margin-top:10px;

}


/* ---------- FOOTER ---------- */

footer{

padding:90px 20px;

background:#1d1d1d;

color:white;

text-align:center;

}

footer h2{

font-family:'Cormorant Garamond';

font-size:54px;

margin-bottom:20px;

}

footer p{

color:#ccc;

}


/* ---------- ANIMATION ---------- */

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(60px);

}

100%{

opacity:1;

transform:translateY(0);

}

}


/* ---------- MOBILE ---------- */

@media(max-width:768px){

.hero h1{

font-size:52px;

}

.subtitle{

letter-spacing:4px;

}

.date{

font-size:18px;

}

.section h2{

font-size:38px;

}

.countdown h2{

font-size:38px;

}

footer h2{

font-size:40px;

}

.info{

padding:30px;

}

}

/* TIMER */

.time-box{

width:110px;

height:110px;

background:white;

border-radius:18px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:0 12px 30px rgba(0,0,0,.12);

}

.time-box span{

font-size:40px;

font-weight:700;

color:#b58b3a;

}

.time-box small{

margin-top:8px;

letter-spacing:2px;

color:#888;

}

/* Animation */

.hidden{

opacity:0;

transform:translateY(60px);

transition:1s;

}

.show{

opacity:1;

transform:translateY(0);

}
@keyframes zoomHero{

from{

transform:scale(1);

}

to{

transform:scale(1.12);

}

}

@keyframes fadeHero{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes arrow{

0%{

transform:translateY(0);

}

50%{

transform:translateY(15px);

}

100%{

transform:translateY(0);

}

}
